<!-- Page for home screen -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            color: white;
        }
    </style>
    <title>Issue Tracker</title>
</head>
<body>
    <div>
        <h1>Welcome to Issue Tracker</h1>
        <form action="/api/users/signin" method="GET">
            <button>Sign In</button>
        </form>
        <form action="/api/users/signup" method="GET">
            <button>Sign Up</button>
        </form>
    </div>
</body>
</html>